.breadcrumb{
    background-color: #c37dbd;
}
.breadcrumb h1{
    text-align: center;
}
.bigimg{
    width: 100%;
    height: 500px;
}
.specialchar{
    color: rgb(179, 91, 91);
}
.tname h3{
    box-shadow: 1px 2px 3px 4px rgb(219, 217, 217);
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.treatments{
    background-color: aliceblue;
    padding-bottom: 40px;
    padding-top: 10px;
}
.treatcont{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.specialoff{
    font-weight: 900px;
    font-size: medium;
}
.marq{
    background-color:#56687e;
    padding: 10px;
    color: white;
    font-weight: 900px;
    font-size: medium;
}
.bookimg img{
    height: 450px;
    border-radius: 10px;
    width: 100%;
}
.fullappoint{
    background-color:  #ebeff2;
}
.bookbtn button{
    background-color:  rgb(179, 91, 91);
    border: 0px;
    margin-left:576px ;
}
.form{
    box-shadow: 1px 2px 3px 4px rgb(165, 162, 162);
    border-radius: 10px;
    padding-top:15px ;
    padding-bottom: 15px;
}
.iframeimg{
    border-radius: 20px;
    margin-bottom: 15px;
}
.tname h3,h6{
    color: rgb(14, 12, 12) ;
}
.aboutp p{
    font-weight: 450;
    margin-top: 10px;
} 
.aboutp h5{
    color:   rgb(179, 91, 91);
}


.FontAwesomeIcon{
    background-color: #0c0d0e;
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font{
    display: flex;
    margin-left: 50px;
}
.heading {
    color: #0c0d0e;
}
.form p{
    color: #0c0d0e;
}
.totcomponent{
    overflow-x: hidden;
}




/* .slide {
    position: relative;
  }
  
  .carouselContent {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    color: rgb(17, 15, 15);
  }


  .slider2img{
    position: relative;
  }
  .slider2{
    position: absolute;
    top: 50%;
    right: 70%;
    color: #0c0d0e;
  } */